# Contains the app configuration for the authentication server
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ldtteam-authentication-server.fullname" . }}-appsettings
  labels:
    {{- include "ldtteam-authentication-server.labels" . | nindent 4 }}
data:
  # Add your configuration data here
  appsettings.json: |-
{{ .Values.app.config | mustToPrettyJson | indent 4 }}
    