@using LDTTeam.Authentication.Server.Pages.Account.Manage
@using Microsoft.AspNetCore.Identity
@using LDTTeam.Authentication.Modules.Api
@inject SignInManager<ApplicationUser> _signInManager
@{
    bool hasExternalLogins = (await _signInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.RewardsNavClass(ViewContext)" id="rewards" asp-page="./Rewards">My Rewards</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
