name: Docker Build

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:     
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    outputs: 
      tag: ${{ steps.tag.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          fetch-depth: '0'

      - name: Bump version and push tag
        id: tag
        uses: anothrNick/github-tag-action@1.71.0 # Don't use @master or @v1 unless you're happy to test the latest version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: patch
          GIT_API_TAGGING: false

  publish-server:
    needs:
      - tag
    permissions:
      contents: write
      packages: write
      statuses: write
    uses: ./.github/workflows/image-publish.yml
    with:
      tag: ${{ needs.tag.outputs.tag }}
      image: ldtteam/authentication
      registry: ${{ env.REGISTRY }}
      dockerfile: LDTTeam.Authentication.Server/Dockerfile

  publish-discord-bot:
    needs:
      - tag
    permissions:
      contents: write
      packages: write
      statuses: write
    uses: ./.github/workflows/image-publish.yml
    with:
      tag: ${{ needs.tag.outputs.tag }}
      image: ldtteam/authentication/discord
      registry: ${{ env.REGISTRY }}
      dockerfile: LDTTeam.Authentication.DiscordBot/Dockerfile

  publish-rewards-service:
    needs:
      - tag
    permissions:
      contents: write
      packages: write
      statuses: write
    uses: ./.github/workflows/image-publish.yml
    with:
      tag: ${{ needs.tag.outputs.tag }}
      image: ldtteam/authentication/rewards
      registry: ${{ env.REGISTRY }}
      dockerfile: LDTTeam.Authentication.RewardsService/Dockerfile
  
  chart:
    needs:
      - tag
    permissions:
      contents: write
      packages: write
      statuses: write
    uses: ./.github/workflows/chart-publish.yml
    with:
      tag: ${{ needs.tag.outputs.tag }}